# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.mypy_cache/
.ruff_cache/

# IDE specific files
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific files
.DS_Store
Thumbs.db
